@media (max-width: 372px) {
    .light-header {
   
      font-size: 29px !important;
      
    }
    .heavy-header {
  
      font-size: 26px !important;
    }
    h4 {  
      font-size: 10px !important;
      margin-top: 5px !important;
    }
    
  }
@media (max-width:992px){
  .service-box{
    p{
      font-size: 15px !important;
    }
    h4{
      font-size: 17px !important;
    }
  }
  .side-menu  {
    padding: 2rem 2.5rem !important;
  }
  .navbar-background{
    background: rgba(38, 49, 60, 0.55) !important;
  }
  .background-image-text {
    top: 13% !important;
  }

}
@media (max-width: 1200px)
{
  .side-menu  {
    padding: 4rem 3.25rem !important;
  }

}
@media (max-width: 576px)
  {
    .side-menu{
  
      width: 100% !important;
  }
  .side-menu-footer{
  bottom: 119px !important;
}
  // .side-menu .side-navbar .close-icon {

  //   top: 1px !important;
  //   right: -45px !important;
  //   }
  //   .side-menu .side-navbar li {
   
  //     font-size: 17px !important;
  //   }
  //   .side-menu-footer{
  //   font-size: 10px !important;
  //   }
  //   .side-menu .side-navbar .close-icon {
    
  //   top: -13px;
  //   right: 165px;
  //   }
}

